Flask
numpy
joblib
flask-cors
requests
python-dotenv
yfinance
pandas
nsetools
gunicorn
scikit-learn
pytz
google-generativeai
feedparser
beautifulsoup4
lxml
groq
pymongo
dnspython
PyJWT
flask-jwt-extended
bcrypt