

.stock-background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow: hidden;
  background: radial-gradient(#000000, #020202);
}

.stock-text {
  position: absolute;
  font-family: monospace;
  opacity: 0.25;
  font-weight: bold;
  animation: floatFade 10s linear forwards;
  filter: blur(0.7px);
  pointer-events: none;
  white-space: nowrap;
}

.stock-up {
  color: #00ffb3;
}

.stock-down {
  color: #ff5f5f;
}

@keyframes floatFade {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  10% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}
